/* Membuat peta lebih responsif */
.map-responsive {
    position: relative;
    padding-bottom: 56.25%; /* Membuat peta dengan rasio 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: transparent;
    border-radius: 10px;
  }

  .card-maps {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  transition: all 0.3s ease;
}
  
  /* Responsif untuk layar lebih kecil dari 991px */
  @media (max-width: 991px) {
    .map-responsive {
      margin-top: -4rem; 
    }
  }
  
  /* Responsif untuk layar lebih kecil dari 480px (layar ponsel) */
  @media (max-width: 480px) {
    .map-responsive {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      height: 100px;
    }
  }
  
  /* Menambahkan style untuk link Buka Maps */
  .btn-maps {
    display: inline-block;
    padding: 12px 24px; /* Menambah padding untuk tombol */
    background-color: #C38D7A;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 1rem; /* Menambahkan sedikit margin antara peta dan tombol */
    transition: background-color 0.3s;
  }
  
  /* Mengatur jarak tombol lebih dekat ke peta */
  section#maps .containers .btn-maps {
    margin-top: 1rem; /* Atur jarak lebih kecil antara peta dan tombol */
  }
  
  .btn-maps:hover {
    background-color: #C38D7A;
  }
  